$_1: 0.25rem;
$_2: 0.5rem;
$_3: 1rem;
$_4: 1.5rem;
$_5: 2rem;
$color-dark: #000;
$color-primary: #31789c;
$color-light: #f4f4f4;
$color-muted: #aaa;
$color-secondary: #e02d2d;
$color-white: #fff;
$padding-sm: $_1 $_2;
$rounded-edgy: 2px;
$rounded-sm: $_2;

// Set text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Mixin set background
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
