@import 'buttons';
@import 'config';
@import 'utilities';

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: $color-dark;
  text-decoration: none;

  &:hover {
    opacity: 0.9;
  }
}

body {
  background-color: #fff;
  font-family: Helvetica, sans-serif;
}

header .navbar {
  background-color: $color-light;
  display: flex;
  padding: $_sm $_md;
  justify-content: space-between;
  align-items: center;

  .navbar-brand {
    background-color: $color-dark;
    border-radius: $rounded-edgy;
    font-size: 1.5rem;
    text-align: center;
    color: $color-white;
    padding: $padding-sm;
    margin-right: $_sm;
  }

  .collapse-navbar {
    display: flex;
    align-items: center;
  }

  .navbar-toggle {
    box-sizing: content-box;
    border: none;
    @media (min-width: 768px) {
      display: none;
    }
  }

  .bar {
    display: block;
    width: 40px;
    height: $_xs;
    border-radius: $_xs;
    background-color: $color-dark;
  }

  .bar:not(:first-of-type):not(:last-of-type) {
    margin: $_xs 0;
  }

  .nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    @media (max-width: 767.98px) {
      display: none;
    }
  }

  .nav-item:not(:last-of-type) {
    margin-right: 1rem;
  }

  .nav-link {
    font-weight: bold;
    color: $color-muted;

    &:hover {
      color: $color-secondary;
    }
  }

  .nav-link.active {
    color: $color-dark;
  }
}

.jumbotron {
  padding: 2rem 0;
  // background-image: linear-gradient($color-secondary, $color-primary);
  &-content {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid $color-muted;
    background-image: url("../images/ONZ74Q0.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 95% 100%;
    @media (max-width: 767.98px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-img {
    width: 100%;
    margin: auto;
    padding: 1rem;
    @media (min-width: 576px) {
      width: 90%;
    }
  }

  &-body {
    font-weight: lighter;
    padding: 1em;
    @media (min-width: 768px) {
      width: 100%;
    }
  }

  &-title {
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-color: $color-secondary;
    text-decoration-thickness: 2px;
  }

  &-text {
    font-size: 3rem;
    font-weight: bold;
    // color: $color-white;
    margin-top: 0;
  }

  &-price {
    font-size: 16px;
    font-weight: lighter;
  }

  &-link {
    font-size: 1.2em;
    font-weight: bold;
  }

  &-more {
    color: dodgerblue;

    &:hover {
      text-decoration: underline;
      transition: 0.3s;
    }
  }
}