@import 'buttons';
@import 'config';
@import 'utilities';

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: $color-dark;
  text-decoration: none;

  &:hover {
    opacity: 0.9;
  }
}

body {
  background-color: #fff;
  font-family: Helvetica, sans-serif;
}

header .navbar {
  background-color: $color-light;
  display: flex;
  padding: $_2 $_3;
  justify-content: space-between;
  align-items: center;

  .navbar-brand {
    background-color: $color-dark;
    border-radius: $rounded-edgy;
    font-size: 1.5rem;
    text-align: center;
    color: $color-white;
    padding: $padding-sm;
    margin-right: $_2;
  }

  .collapse-navbar {
    display: flex;
    align-items: center;
  }

  .navbar-toggle {
    box-sizing: content-box;
    border: none;
    @media (min-width: 768px) {
      display: none;
    }
  }

  .bar {
    display: block;
    width: 40px;
    height: $_1;
    border-radius: $_1;
    background-color: $color-dark;
  }

  .bar:not(:first-of-type):not(:last-of-type) {
    margin: $_1 0;
  }

  .nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    @media (max-width: 767.98px) {
      display: none;
    }
  }

  .nav-item:not(:last-of-type) {
    margin-right: 1rem;
  }

  .nav-link {
    font-size: 18px;
    font-weight: 300;
    font-family: sans-serif;
    color: darken($color-muted, 20%);

    &:hover {
      color: lighten($color-secondary, 0%);
    }
  }

  .nav-link.active {
    color: $color-dark;
    text-decoration: underline;
    text-decoration-color: $color-secondary;
    text-decoration-thickness: 2px;
  }
}

.jumbotron {
  padding: 2rem 0;

  &-content {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 1rem 0;
    border-bottom: 3px solid darken($color-primary, 15%);
    // background-image: url("../images/ONZ74Q0.png"), linear-gradient($color-white 10%, lighten($color-primary, 50%) 50% 100%);
    background-image: url("../images/ONZ74Q0.png");
    background-repeat: no-repeat;
    background-size: 9%, cover;
    background-position: 95% 100%, center;
    @media (max-width: 767.98px) {
      grid-template-columns: repeat(1, 1fr);
      background-size: 20%, cover;
    }
  }

  &-img {
    width: 100%;
    margin: auto;
    padding: 1rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @media (min-width: 576px) {
      width: 90%;
    }
  }

  &-body {
    font-weight: lighter;
    padding: 1em;
    @media (min-width: 768px) {
      width: 100%;
    }
  }

  &-title {
    font-size: 1.5em;
    text-decoration: underline;
    text-decoration-color: $color-secondary;
    text-decoration-thickness: 2px;
    margin-bottom: 2rem;
  }

  &-text {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0;
    @media (max-width: 767.98px) {
      line-height: 1;
    }
  }

  &-price {
    font-size: 16px;
    font-weight: lighter;
  }

  &-btn {
    @extend .btn;
    @include set-background(lighten($color-secondary, 100%));
    font-size: 1.2em;
    font-weight: bold;
    border-color: $color-secondary;
    border-radius: 10rem;
    padding-left: $_5;
    padding-right: $_5;
    transition: all 0.3s;

    &:hover {
      background: $color-secondary;
      color: $color-light;
      opacity: 1;
    }
  }

  &-more {
    color: dodgerblue;

    &:hover {
      text-decoration: underline;
      transition: 0.3s;
    }
  }
}
